@font-face{

font-family:Sriracha ;
src: url(fuente/Sriracha-Regular.ttf);


}
body{

  background-color: orange;

}
style{

    
    margin: unset;
}


h1{

    font-family:'Sriracha', sans-serif;
    background-color: orange;
    color: white;
    text-align: center;   
    margin:auto;
    padding: 20px;
    border: unset;

}
section{

  background-color: white;
  margin: unset;
  padding-top: 12px;

}
section.uno{


  background-color: white;
  padding-bottom: 25px;

}

nav {
  background-color: lightblue;
  padding: 20px;
  
}
ul.home{

    list-style-type: none;
    margin-top: -20px;
    
        
}
ul.productos{

  list-style-type: none;
  margin-top: -20px;
  background-color: rgb(245, 222, 179);

}

li.productos{

  list-style-type: katakana-iroha;


}
li.menu{

   float:left;
   border:2px solid;
   display: inline;
   margin-right: 10px;
   margin-top: 0px;
   

}

a {
    color: black;
    padding: 4px;
    text-decoration: none;
    
  }
  
  a:hover {
    background-color:yellow;
    color:violet;
  }

  img.steve{

    float: left;


  }

  p.vida1{

    color: blue;
    margin:unset;
    border-top: blue 15px solid;
  }

  p.vida2{

    border-bottom: blue 15px solid;
    color: blue;
    
  }



  p.vida3{

    ç
    color: red;
    margin-top: 1px;
    border-top: red 15px solid ;
    border-bottom: red 15px solid;
    margin-bottom: 78px;
  }

  img.ordenador{

    float: right;
   
    

  }

div{
    background-color: lightblue;
    padding-top: 1.5%;
    padding-bottom:7px;
    


}
footer{

   
    margin-top: 0px;
    text-align: center;
    background-color: lightcoral;
    padding: 15px;
}
